= form_tag sessions_path do
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being logged in:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = label_tag :email
    = text_field_tag :email
  .field
    = label_tag :password
    = password_field_tag :password
  .actions
    = submit_tag 'Log in'
