<header class="navigation">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="logo">
      <%= image_tag 'logo.png' %>
    </a>
    <a href="" class="navigation-menu-button" id="js-mobile-menu">Menu</a>
    <div class="nav">
      <ul id="navigation-menu">
        <% if current_user %>
          <li class="nav-link">
            <%= link_to 'Profile', user_path(current_user) %>
          </li>
          <% if is_admin? %>
            <li class="nav-link more"><a href="javascript:void(0)">Reviews</a>
              <ul class="submenu">
                <li>
                  <%= link_to 'All Curriculum', materials_path %>
                </li>
                <li>
                  <%= link_to 'My Reviews', user_reviews_path(@current_user) %>
                </li>
              </ul>
            </li>
          <% end %>
          <li class="nav-link more"><a href="javascript:void(0)">Curriculum</a>
            <ul class="submenu">
              <li>
                <%= link_to 'Core Curriculum', core_materials_path %>
              </li>
              <li>
                <%= link_to 'Add New Curriculum', new_material_path %>
              </li>
              <li>
                <%= link_to 'All Curriculum', materials_path %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-link">
            <%= link_to 'Log In', new_sessions_path %>
          </li>
          <li class="nav-link">
            <%= link_to 'Sign Up', new_user_path %>
          </li>
        <% end %>

      </ul>
    </div>
  </div>
</header>
