%h1 Core Materials

%table.table-minimal.tablesorter#materials
  %thead
    %tr
      %th Title
      %th Materials
      %th Duration
      %th Chapter
      %th Language

  %tbody
    - @materials.each do |material|
      %tr
        %td= link_to material.title, material_path(material)
        %td= link_to 'View', material.url
        %th= material.duration
        %td= material.chapter
        %td= material.language

