%h1 All Curriculum

%table.table-minimal.tablesorter#materials
  %thead
    %tr
      %th Title
      %th Materials
      %th Chapter
      %th Language
      %th Status
      %th Reviews
      %th

  %tbody
    - @materials.each do |material|
      %tr
        %td= link_to material.title, material_path(material)
        %td= link_to 'View', material.url
        %td= material.chapter
        %td= material.language
        %td= material.status
        %td= material.reviews.count
        %td
          - if can_review?(material)
            = link_to 'Review', new_material_review_path(material)
          - elsif reviewed_by?(current_user, material)
            = link_to 'View review', material_review_path(material, user_review_for(material))


%br

= link_to 'New Material', new_material_path
