%h1 Listing materials

%table.table-minimal.tablesorter#materials
  %thead
    %tr
      %th Title
      %th URL
      %th Chapter
      %th Status
      %th Language

  %tbody
    - @materials.each do |material|
      %tr
        %td= material.title
        %td= material.url
        %td= material.chapter
        %td= material.status
        %td= material.language

%br

= link_to 'New Material', new_material_path
