%h1= @material.title

%p
  Submitted by
  = @material.user.name
  (#{@material.user.email})
  from
  = @material.chapter

%p= link_to 'View materials online', @material.url

%p
  %b Language:
  = @material.language

%p
  %b Status:
  = @material.status

%p
  %strong Administrative:
  - if is_admin? || owner_can_edit?(@material)
    = link_to 'Edit Materials', edit_material_path(@material)
  - elsif !owner_can_edit?(@material)
    You cannot edit materials after the review process has begun. Please contact the Curriculum Working Team for any edits.
  - else
    You are not an owner or Curriculum Working Team member.

- if @material.description.length > 0
  %p
    %b Description:
    = @material.description

%br

- if @material.reviews.any?
  %h2
    Reviews:
    = @material.reviews.count
  %br
  - @material.reviews.each do |review|
    = render partial: 'shared/comment', locals: { review: review }



